//out:stylus.css,compress:false

#cont{
    overflow: auto;
    
    h1 a img{
        width:300px;
    }
    .small{
        width: 30%;
        height: 300px;
        float: left;
        background-color:red;
    }
    .big{
        width: 70%;
        height: 300px;
        float:left;
        background-color:green;
    }
}